.homeInfo {
    margin: 100px 0;
}

.content {
    display: flex;
    gap: 20px;
    align-items: center;
}

.info {
    display: grid;
    gap: 20px;
    width: 482px;
}

.title{
    font-size: 36px;
    font-weight: 900;
}

.text{
    font-size: 13px;
    font-weight: 400;
    line-height: 16px; 
}


.img{
    width: 670px;
    height: 400px;
}