.content {
    padding: 36px 0 90px;
    text-align: center;
}

.title {
    margin: 0 0 30px;
    text-align: center;
    font-size: 36px;
    font-weight: 900;
}

.links {
    display: flex;
    justify-content: center;
    gap: 34px;
    margin-bottom: 56px;
}

.link {
    transition: 0s;
    color: #717171;
    font-size: 16px;
    font-weight: 400;
}

.active_link{
    transition: 0s;
    color: #36873E;
    font-size: 16px;
    font-weight: 400;
    border-bottom: 2px solid #36873E;
}

.blocks {
  display: grid;
  grid-template-columns: repeat(4,  270px);
  gap: 40px;
}

.button {
    margin-top: 112px;
    border-radius: 10px;
    background: #36873e;
    padding: 19px 75px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
  }
  
  .button:hover {
    background: #2d7033;
  }
  
