.content {
    padding: 36px 0 90px;
    text-align: center;
}

.title {
    margin: 0 0 30px;
    text-align: center;
    font-size: 36px;
    font-weight: 900;
}

.blocks {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4,  270px);
  gap: 40px;
}

.button {
    margin-top: 112px;
    border-radius: 10px;
    background: #36873e;
    padding: 19px 75px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
  }
  
  .button:hover {
    background: #2d7033;
  }
  
